.BeginGame {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.BeginGame img {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1; /* Đảm bảo hình ảnh nền nằm dưới nội dung */
}


.BeginGame .device-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Tạo 2 cột với kích thước bằng nhau */
    gap: 20px; /* Khoảng cách giữa các phần tử */
    margin: 20px 0;
    justify-items: center;
  }
  
  .BeginGame .device {
    background: #fff0; /* Màu nền cho từng ô, tùy chỉnh theo ý bạn */
    border:5px solid #ffd971; /* Đường viền */
    padding: 15px;
    border-radius: 10px; /* Góc bo tròn */
    text-align: left; /* Căn giữa nội dung */
    width: 400px;
  }